<% layout('layouts/boilerplate') %>
<h1>Hashtag: <%= hashtag %></h1>
<p><a class="btn btn-success" href="/posts">Back to posts</a></p>
<% if (posts.length === 0) { %>
  <p>No posts with hashtag <%= hashtag %> yet.</p>
<% } else { %>
    <% posts.forEach(post => { %>
      <div class="card">
        <div class="card-body">
          <h2><%= post.title %></h2>
          <p><%= post.date.toLocaleDateString() %>, <%= post.date.toLocaleTimeString([], { hour: "numeric", minute: "2-digit" }) %></p>
          <p><%- addHashtagLinks(post.content) %></p>
          <p><a class="btn btn-info" href="/posts/<%= post._id %>">View full post</a></p>
        </div>
      </div>
    <% }); %>
<% } %>